* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to right bottom, #206489, #00689e, #006bb3, #006cc7, #006cd9, #0078e6, #0083f2, #008fff, #00a9ff, #00c0ff, #00d4fc, #18e6f0);
    font-family: 'Kanit', sans-serif;

}

body { 
    min-height: 100vh; 
    width: 100%;
}

header {
    background-image: url(../assets/img/bannerrsz.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
}

.gridheader {
    height: 250px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: #18283B;
}


ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #8291A5;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
    font-size: 1.5rem;
}

ul li a:hover,
ul li a.active {
    color: #FFF;
    background: #0075FF;
}

#icon {
    background-color: #0075FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}

footer {
    text-align: center;
    text-shadow: rgb(0, 0, 0);
    size: 1rem;
}

.catalogo {
    display: flex;
    border-style: inset;
    background-color: rgb(211, 202, 202);
    margin-top: 2px;
    width: 80%;
    justify-content: space-between;
}

.catalogosection {
    margin-top: 100px;
    margin-left: 50px;
}


.contactanos {
    display: grid;
    grid-template-areas: "form map"
        "contacto contacto";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-between;
    padding: 10%;
}

.contactanos section h3 {
    color: white;
    font-size: 1.5rem
    ;

}

.contactoform {
    grid-area: form;
    padding: 2%;
    background-color: #353535;
    border-radius: 2px solid;
}

.mapa {
    grid-area: map;
    background-color: #353535;
    padding:10px;
}

.contenedorcontactanos {
    grid-area: contacto;
    padding-top: 100px;
}

.contactoform {
    width: 500px;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #0643a0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #3f7bd4;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    width: 100%;
    background: #0643a0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #3f7bd4;
}

.productos {
    display: inline-block;
    border-style: inset;
    list-style-type: none;
    width: 400px;
    height: 400px;
    background-color: #e9e9e9;
    justify-content: space-around;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    text-size-adjust: 3rem;
    margin: 40px;
}

.productoscontenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-inline: 50px;
}

.barraIndex {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    margin-top: 30px;
    height: 80px;
    align-items: center;
}

.contenidoIndex {
    display: flex;
    background-color: rgba(218, 218, 218, 0.692);
    padding: 5%;
    margin: 5% 20% 5% 20%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.textoIndex {
    align-items: center;
    padding: 3%;

}

.tutorialesvid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(218, 218, 218, 0.692);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.tutorialesvid div iframe {
    width: 500px;
    height: 315px;
    
}

.titulo__lorem {
    padding-bottom: 5% ;
    color: white;
}


.lorem {
    padding: 5%;
    margin: 5%;
    background-color: rgba(218, 218, 218, 0.692);
    border-radius: 10px;
    

}

.promo {
    width: 100%;
}

.promo img {
    width: 100%;
}

main div a img:hover {
    transform:scale(1.05,1.05);
}

.contenedorcontactanos ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
}

.contenedorcontactanos ul li {
    list-style: none;
    margin: 0 5px;
}

.contenedorcontactanos ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}

.contenedorcontactanos ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
}

.contenedorcontactanos ul li a {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

.contenedorcontactanos ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

.contenedorcontactanos ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

.contenedorcontactanos ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

.contenedorcontactanos ul li:hover .fa {
    color: #fff;
}

.contenedorcontactanos ul li:hover span {
    color: #fff;
}

.contenedorcontactanos ul li:hover:nth-child(1) a {
    background: #3b5998;
}

.contenedorcontactanos ul li:hover:nth-child(1) a:before {
    background: #365492;
}

.contenedorcontactanos ul li:hover:nth-child(1) a:after {
    background: #4a69ad;
}

.contenedorcontactanos ul li:hover:nth-child(2) a {
    background: #00aced;
}

.contenedorcontactanos ul li:hover:nth-child(2) a:before {
    background: #097aa5;
}

.contenedorcontactanos ul li:hover:nth-child(2) a:after {
    background: #53b9e0;
}

.contenedorcontactanos ul li:hover:nth-child(3) a {
    background: #3fdd39;
}

.contenedorcontactanos ul li:hover:nth-child(3) a:before {
    background: #2fb32b;
}

.contenedorcontactanos ul li:hover:nth-child(3) a:after {
    background: #5ae65a;
}

.contenedorcontactanos ul li:hover:nth-child(4) a {
    background: #e4405f;
}

.contenedorcontactanos ul li:hover:nth-child(4) a:before {
    background: #d81c3f;
}

.contenedorcontactanos ul li:hover:nth-child(4) a:after {
    background: #e46880;
}

@media screen and (max-width: 1100px) {

    body {
        width:100% ;
    }

    header {
        background-image: url(../assets/img/3bannerrszmedia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        border-bottom: 1px solid #455468;
    }

    nav ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #18283B;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }

    .barraIndex a img {
        width: 60px;
    }

    .barraIndex{
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: (1fr);
        background-color: rgb(255, 255, 255);
        justify-items: center;
        align-content: center;
        margin-top: 30px;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    .contenidoIndex {
        display: block;
        width: 100%;
        justify-content: center;
        margin: 5% 0 0 0;
        border-radius: 0;
    }

    .tutorialesvid {
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 0;
    }

    .tutorialesvid div iframe{
        width: 100%;
    }

    .contactanos {
        display: inline-block;
        width: 100%;
    }

    .contactoform {
        width: 100%;
        margin-bottom: 20px;

    }
    .mapa iframe {
        width: 100%;
        
    }

    .contenedorcontactanos ul {
        display: block;
        padding-top: 300px;
        align-items: flex-end;
        width: 100%;
        
    }
    .contenedorcontactanos ul li a {
        transform:  translate(0, 0);
    }
        
    .contenedorcontactanos ul li a:hover {
        transform:  translate(20px, -15px);
    }
    .catalogosection {
        margin: 5px;
    }

    .catalogo {
        width: 100%;
        margin: 1%;
        justify-content: space-between;
    }

}    