@import "../utilitiees/colors";

nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 5%;
	align-items: center;
	background: #18283B;
	ul {
		li {
			a {
				text-decoration: none;
				color: $color_1;
				padding: 8px 30px;
				border-radius: 7px;
				transition: all .3s ease;
				font-size: map-get($tamaños, "medium");
			}
		}
	}
}
ul {
	list-style: none;
	li {
		display: inline-block;
		a {
			&:hover {
				color: $color_2;
				background: $color_3;
			}
		}
		a.active {
			color: $color_2;
			background: $color_3;
		}
	}
}
#icon {
	background-color: $color_3;
	padding: 5px 7px 3px 7px;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s ease;
	display: none;
	svg {
		color: $color_2;
		height: 28px;
		transition: all .3s ease;
	}
	&:hover {
		background: $color_2;
		svg {
			color: $color_3;
		}
	}
}
#checkbox {
	display: none;
}
