//Cards Catalogo

.catalogo__contenedor {
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 5%;
    h1 {
        color: $color_2;
        background-color: $background-color_3;
        text-align: center;
        width: 90%;
       }
}

.catalogo__card {
    display: flex;
    border-style: inset;
    background-color: $background-color_5;
    margin-top: 2px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
        width: 50px;
    }
    
}

//Cards Productos

.productos__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-inline: 50px;
}

.productos__contenido {
    display: inline-block;
    border-style: inset;
    list-style-type: none;
    width: 400px;
    height: 400px;
    background-color: $background-color_5;
    justify-content: space-around;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    text-size-adjust: 3rem;
    margin: 40px;
}

//Card Index

.index__contenido {
    display: flex;
    background-color: $background-color_7;
    padding: 5%;
    margin: 5% 20% 5% 20%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.index__texto {
    align-items: center;
    padding: 3%;
}

//Card Tutoriales

.card__tuto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $background-color_7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

    div {
        iframe {
            width: 500px;
            height: 315px;
        }
    }
}

//Card About

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 0 16px;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}