.promo {
    width: 100%;

    img {
        width: 100%;
    }
}

.about__image {
    width: 100%;
    border-radius: 10px;
}

.index__contenido {
    img {
        height: 500px;
    }
}

.head_banner {
    img {
        width: 200px;
    }
}