$color_1: #8291A5;
$color_2: #FFF;
$color_3: #0075FF;
$color_4: grey;
$color_5: #262626;
$color_6: #3f7bd4;
$background-color_1: #474e5d;
$background-color_2: rgb(211, 202, 202);
$background-color_3: #353535;
$background-color_4: transparent;
$background-color_5: #e9e9e9;
$background-color_7: rgba(218, 218, 218, 0.692);
$background-color_8: #18283B;
$background-color_10: linear-gradient(to right bottom, #206489, #00689e, #006bb3, #006cc7, #006cd9, #0078e6, #0083f2, #008fff, #00a9ff, #00c0ff, #00d4fc, #18e6f0);